{% extends 'quotes/base.html' %}

{% block content %}

<form method="POST" action="{% url 'quotes:add_author' %}">
    <div>
        <h2>To add author</h2>
        
        {% csrf_token %}
        <div style="padding: 10px">
            <label> Author name:
                {{ form.fullname }}
            </label>
            <span>{{ form.errors.fullname }}</span>
        </div>
        <div style="padding: 10px">
            <label> Author description:
                {{ form.description }}
            </label>
            <span>{{ form.errors.description }}</span>
        </div>
        <div style="padding: 10px">
            <label> Author born date:
                {{ form.born_date }}
            </label>
            <span>{{ form.errors.born_date }}</span>
        </div>
        <div style="padding: 10px">
            <label> Author born location:
                {{ form.born_location }}
            </label>
            <span>{{ form.errors.born_location }}</span>
        </div>
        
        <div class="grid">
            <button type="submit">Submit</button>
            <button type="reset" class="secondary">Reset</button>
        </div>
        {% for author in authors %}
        <ul>
            <li>
                <p> {{ author.fullname }} </p>
                <a href="{% url 'quotes:delete_author' author.id %}" role="button" class="contrast"> Delete {{author.name}} </a>
            </li>
        </ul>
        {% endfor %}

    </div>
</form>

{% endblock %}